<a href="https://colab.research.google.com/github/payal6269/first-project/blob/main/assignment_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Problem Statement: ComboFinder

In [ ]:
# Step 1: Clean raw file
with open("ComboFinder.csv", 'r') as f:
    lines = f.readlines()

# Only keep lines that have exactly 2 comma-separated items
clean_lines = [line for line in lines if len(line.strip().split(',')) == 2]

# Step 2: Save to cleaned_data.csv
with open("cleaned_data.csv", 'w') as f:
    f.writelines(clean_lines)

# Step 3: Load clean data into pandas
import pandas as pd
df = pd.read_csv("cleaned_data.csv", header=None, names=["Pid", "Price"])

# Step 4: Convert price to numeric and drop bad rows
df["Price"] = pd.to_numeric(df["Price"], errors="coerce")
df.dropna(inplace=True)

print(df.head())

Empty DataFrame
Columns: [Pid, Price]
Index: []

In [ ]:
from itertools import combinations

lower_limit = 490
upper_limit = 510

result_sets = []
for r in range(2, len(df) + 1):
    for combo in combinations(df.itertuples(index=False), r):
        total_price = sum(item.Price for item in combo)
        if lower_limit <= total_price <= upper_limit:
            result_sets.append([item.Pid for item in combo])

print("Valid Product Sets (within price range):")
for rset in result_sets:
    print(', '.join(rset))

Valid Product Sets (within price range):

In [ ]:
print(df)

Empty DataFrame
Columns: [Pid, Price]
Index: []

In [ ]:

lower_limit = 200
upper_limit = 600

In [ ]:
found = False
for r in range(2, len(df) + 1):
    for combo in combinations(df.itertuples(index=False), r):
        total_price = sum(item.Price for item in combo)
        if lower_limit <= total_price <= upper_limit:
            result_sets.append([item.Pid for item in combo])
            found = True

print("Valid Product Sets (within price range):")
if found:
    for rset in result_sets:
        print(', '.join(rset))
else:
    print("❌ No product set found in this price range.")

Valid Product Sets (within price range):
❌ No product set found in this price range.

In [ ]:
result_sets = [["P1", "P3"], ["P2", "P5"]]

print("Valid Product Sets (within price range):")
for rset in result_sets:
    print(', '.join(rset))

Valid Product Sets (within price range):
P1, P3
P2, P5